<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
</head>
<body>
<div th:insert="~{parts/navigation::navigation}"></div>
<div class="container">

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Actions</th>
            <th>Id</th>
            <th>Description</th>
            <th>Create Date</th>
            <th>Completion Date</th>
            <th>Is Complete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}" th:class="${task.done} ? 'alert alert-success' : 'alert alert-warning'">
            <td>
                <div class="btn btn-group-sm">
                    <a class="btn btn-info" th:href="@{/edit/{id}(id=${task.id})}">
                        <i class="bi bi-pencil-fill"></i> Edit</a>
                    <a class="btn btn-danger" th:href="@{/delete/{id}(id=${task.id})}">
                        <i class="bi bi-trash-fill"></i> Delete</a>
                </div>
            </td>
            <td th:text="${task.id}"></td>
            <td th:text="${task.desc}"></td>
            <td th:text="${task.createDate}"></td>
            <td th:text="${task.completionDate}"></td>
            <td>
                <span th:if="${task.done} == true" th:text="Yes" />
                <span th:unless="${task.done} == true" th:text="No" />
            </td>
        </tr>
        </tbody>
    </table>

    <p><a class="btn btn-outline-success" href="/add-task">
        <i class="bi bi-plus-square-fill"></i> Create a Task</a>
    </p>
</div>
<div th:insert="~{parts/footer :: footer}"></div>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>